<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/SeriplatingTestCase.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
    <testsuites>
        <testsuite name="Seriplating unit test suite">
            <directory suffix="Test.php">./tests/unit/*</directory>
        </testsuite>
        <testsuite name="Seriplating integration test suite">
            <directory suffix="IntegrationTest.php">./tests/integration/*</directory>
        </testsuite>
    </testsuites>
</phpunit>
